body{
	font-family: "Trebuchet MS", sans-serif;
}

nav ul {
    padding-bottom: 3px;
    margin-top: 20px;
    text-align: center;
    list-style: none;
    background-color: rgba(100, 255, 247, 0.45);
}

nav li {
    display: inline-block;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
}
nav a:hover{
	color: #bbffbb;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}